{% extends 'base.html' %}

{% block title %}
    <title>Approve Event</title>
{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert alert-success">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Approve {{ event.name }} by {{ event.client }}</h6>
                </div>
                <div class="card-body">
                    <form action="{% url 'approve_event' event.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="input-id" class="form-label">Select Client</label>
                            <select id="input-id" class="form-select form-select-lg mb-3 w-100" name="client_id"
                                    aria-label="Default select example">
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client.name }} - {{ client.email }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Approve Event</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
