{% extends 'base.html' %}

{% block title %}
    <title>Events List</title>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="mb-3">Events List</h2>

        <!-- Display success message -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- Action Buttons -->
        <div class="mb-3">
            <a href="{% url 'create_event' %}" class="btn btn-primary">Create Event</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Client Id</th>
                    <th>Details</th>
                    <th>Status</th>
                    <th>Cost</th>
                    <th>Number of Guests</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        
                        <td>{{ event.event_name }}</td>
                        <td>{{ event.client_id }}</td>
                        <td>{{ event.details }}</td>
                        <td>{{ event.status }}</td>
                        <td>{{ event.cost }}</td>
                        <td>{{ event.number_of_guests }}</td>
                        <td>{{ event.actions }}</td>
                        
                        <td>
                            <!-- Approve Event -->
                            <a href="{% url 'approve_event' event.id %}" class="btn btn-outline-info btn-sm">Approve</a>
                            <!-- Cancel Event -->
                            <a href="{% url 'cancel_event' event.id %}" class="btn btn-outline-danger btn-sm">Cancel</a>
                            <!-- Edit Event -->
                            <a href="{% url 'edit_event' event.id %}" class="btn btn-outline-secondary btn-sm">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
